<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UI.Properties.Settings.Pharmacy_DemoConnectionString"
            connectionString="Data Source=RILUS-PC\SQLEXPRESS;Initial Catalog=Pharmacy_Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>